@import 'tailwindcss';

.page-height {
  min-height: 100vh;
}

@supports(min-height: 100dvh) {
  .page-height {
    min-height: 100dvh;
  }
}

@media screen and (min-width: 1024px) {
  .page-height-lg {
    min-height: 100vh;
  }

  @supports(min-height: 100dvh) {
    .page-height-lg {
      min-height: 100dvh;
    }
  }
}


.loading-ellipsis:after {
  font-family: var(--font-space);
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0;
}

@keyframes ellipsis {
  to {
    width: 1.5rem;
  }
}
